streamlit
pandas
plotly
pyodbc
FPDF
azure-storage-blob
python-magic
psutil>=5.9.0
streamlit-chat
pymssql
python-dotenv
sqlalchemy 
python-dotenv 
streamlit 
langchain 
langchain-community 
langchain-openai
azure-identity>=1.15.0
openai>=1.0.0



